#p01 {
    text-decoration: overline;
}

#p02 {
    font-size: 30px;
    color: blueviolet
}

#p03 {
    text-decoration: overline;

}

#p04 {
    font-size: 30px;
    color: blueviolet
}

#p05 {
    text-decoration: overline;

}

#p06 {
    font-size: 30px;
    color: blueviolet
}