body {
    background-color: rgb(174, 171, 171);
}

#img01 {
    float: left;
    background-color: white;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img02 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img03 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img04 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img05 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img06 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img07 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img08 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img09 {
    background-color: white;
    float: left;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img10 {
    float: left;
    background-color: white;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

#img11 {
    float: left;
    background-color: white;
    width: 150px;
    height: 150px;
    border-width: 1px;
    border-style: groove;
    padding: 10px;
}

