@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&display=swap');

body {
    background-color: #D3D3D3;
}

#h01 {
    color:#808085;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

#div01 {
    background-color: #C6FFFA;
    border-style: dashed;
    align-content: center;
    border-style: dashed;
    padding: 22px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-left: 30%;
    margin-right: 30%;
}

#i01 {
    font-family: 'Great Vibes', cursive;
    margin-left: 15%;
}

#div02 {
    background-color: #E0EDF3;
    align-content: center;
    border-style:outset;
    color: #0E08D0;
    border-color: #B2B2FF;
    font-weight: 700;
    float: right;
    margin-left: 40%;
    padding-left: 25%;
    border-width: 11px;
    padding: 29px;
    padding-right: 15px;
    letter-spacing: 1px;
    font-weight: 100;
}

#i02 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    padding-left: 25%;
    color: #0E08D0;
}

#div03 {
    background-color: #FF99FF;
    align-content: left;
    border-style:groove;
    color: #84279A;
    border-color: #990066;
    font-weight: 700;
    float: left;
    border-width: 3px;
    margin-right: 50%;
    padding: 20px;
    padding-right: 15%;
    letter-spacing: 1px;
    font-weight: 100;
}

#div04 {
    background-color: #84279A;
    align-content: center;
    border-style:dotted;
    color: white;
    border-color: #FF3399;
    font-weight: 700;
    float: right;
    border-width: 9px;
    padding: 19px;
    padding-right: 45px;
    letter-spacing: 1px;
    font-weight: 100;
}

#div05 {
    background-color: #C6FFFA;
    border-style: dashed;
    align-content: center;
    border-style: dashed;
    float: left;
    padding: 22px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-left: 25%;
    margin-right: 25%;
}

#i03 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin-left: 20%;
    color: #9B2B80;
}

#i04 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin-left: 27%;;
}

#i05 {
    font-family: 'Great Vibes', cursive;
    margin-left: 25%;
}