body {
    font-family: 'Times New Roman', Times, serif;
}

table {
    border-color: black;
    text-align: center;

    align-content: center;
}

td {
    border-style: double;
    border-width: 3px;
}

#td01 {
    padding-top: 20px;
    padding-bottom: 20px;
}